.footer{
    border: 0;
    border-top: solid black 0.5px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.75rem;
    width: 100%;
    margin: 5rem auto;
    margin-left: 0;
}

#tools-div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*justify-content: space-evenly;*/
  align-items: left;
}

.concepts{
  min-width: 100px;
  width: auto;
  height: auto;
  margin-top: 5px;
  margin-right: 2px;
  border: 1px solid #212529;
  border-radius: .25rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 100;
  line-height: 2.5;
  color: black;
  padding: 5px 15px;
}

.row-2>*{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    padding-left: 0;
}

.col{
    margin-top: 10px;
}

.icons{
    /*border: 1px solid black;*/
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icons>span{
    margin-top: 2px;
    margin-left: 5px;
}

